html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  line-height: 1.5;
  font-size: 1.125rem;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: min(70ch, 100% - 4rem); /* KP added "padding" here */
  margin-inline: auto;
}
